# Application Configuration
PORT=9090

# Database Environment
DB_CLIENT=pg
DB_HOST=localhost:5432
DB_NAME=agricore-dev
DB_USER=boresha
DB_PASS=devenv

# Authentication
JWT_SECRET=devenv_jwt
JWT_ISSUER=boresha
JWT_AUDIENCE=
JWT_EXPIRES=86400

# Logging
LOG_LEVEL=DEBUG
